
New_Project/Gerbers/Practica1.v2.dri
New_Project/Gerbers/Practica1.v2.GBL
New_Project/Gerbers/Practica1.v2.GBO
New_Project/Gerbers/Practica1.v2.GBP
New_Project/Gerbers/Practica1.v2.GBS
New_Project/Gerbers/Practica1.v2.GML
New_Project/Gerbers/Practica1.v2.gpi
New_Project/Gerbers/Practica1.v2.GTL
New_Project/Gerbers/Practica1.v2.GTO
New_Project/Gerbers/Practica1.v2.GTP
New_Project/Gerbers/Practica1.v2.GTS
*.TXT
